<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" th:href="@{/resources/static/css/style.css}">
</head>
<body>
<h1>Edit note</h1>
<div id="form">
    <h3><a th:href="@{/}">Back to notes list</a></h3>
    <form th:action="@{/edit-note}" th:object="${note}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Title: </td>
                <td><input type="text" th:field="*{title}"/></td>
                <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</td>
            </tr>
            <tr>
                <td>Type of Note: </td>
                <td><div class="styled-select">
                    <select name="noteType">
                        <option th:if="${note.noteType}"
                                th:each="noteType: ${noteTypes}"
                                th:value="${noteType.id}"
                                th:text="${noteType.name}"
                                th:selected="(${noteType.id} == *{noteType.id})">
                        </option>
                    </select></div>
                </td>
            </tr>
            <tr>
                <td>Content: </td>
                <td><input type="text" th:field="*{content}"/></td>
                <td th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Name Error</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Done"></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>
