<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <link rel="stylesheet" th:href="@{/resources/static/css/style.css}">
</head>
<body>
<h1>View Note</h1>
<h3><a th:href="@{/}">Back to note list</a></h3>
<div class="paper">
    <div class="lines">
        <div class="text" >
            <label th:text="${note.getTitle()}"></label>
            <br/>
            <label>Type: </label>
            <label th:text="${note.noteType.name}"></label>
            <br/>
            <br/>
            <label th:text="${note.getContent()}"></label>
        </div>
    </div>
    <div class="holes hole-top"></div>
    <div class="holes hole-middle"></div>
    <div class="holes hole-bottom"></div>
</div>
<!--<footer th:replace="layout :: footer"></footer>-->
</body>
</html>