<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create note</title>
</head>
<body>
<h1>Create note</h1>
<p>
    <a href="/">Note list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-note}" th:object="${note}" method="post">
    <table>
        <tr>
            <td>Title:</td>
            <td><label>
                <input type="text" th:field="*{title}"/>
            </label></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><label>
                <textarea type="text" th:field="*{content}"></textarea>
            </label></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create note"></td>
        </tr>
    </table>
</form>
</body>
</html>