<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h1>Edit Type</h1>

<div id="form">
    <h3><a th:href="@{/note-types}">Back to type list</a></h3>
    <form th:action="@{/edit-notetype}" th:object="${noteType}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Type: </td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Description: </td>
                <td><input type="text" th:field="*{description}"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update type"></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>