<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h1>Note Types</h1>
<p>
    <a th:href="@{/}">
        Back to note list
    </a>
</p>
<p>
    <a th:href="@{/create-notetype}">
        Add new note type
    </a>
</p>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>
<table id="note-types">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="noteType : ${noteTypes}">
        <td th:text="${noteType.name}"></td>
        <td th:text="${noteType.description}"></td>
        <td><a th:href="@{/edit-notetype/__${noteType.id}__}">Edit</a></td>
        <td><a th:href="@{/delete-notetype/__${noteType.id}__}" th:onclick="Are you sure">Delete</a></td>
        <td><a th:href="@{/view-notetype/__${noteType.id}__}">View</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/note-types'(page=${noteTypes.number - 1})}" th:if="${noteTypes.hasPrevious()}">Previous</a>
    <span th:text="${noteTypes.number + 1}"></span>/<span th:text="${noteTypes.totalPages}"></span>
    <a th:href="@{'/note-types'(page=${noteTypes.number + 1})}" th:if="${noteTypes.hasNext()}">Next</a>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>