<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h1>View Type: <span th:text="${noteType.name}"></span></h1>
<p>
    <a th:href="@{/note-types}">
        Back to type list
    </a>
</p>
<table id="noteTypes" border="1">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="note : ${notes}">
        <tr>
            <td th:text="${note.title}"></td>
            <td th:text="${note.content}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
<footer th:replace="layout :: footer"></footer>
</body>
</html>
